// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// body {
//     // background-image: url(/img/bg-logos-transparent.png);
//     // background-image: url(/img/bg-trans.png);
//     // backdrop-filter: blur(20px);
// }

.btn-custom-blue {
    background-color: $customBlue;
    color: white;
    border-radius: 5px;
    transition: all $customAnimationTime ease-out;
    &:hover {
        color: white;
        background-color: $customRed;
    }
}

.btn-custom-red {
    background-color: $customRed;
    color: white;
    border-radius: 5px;
    transition: all $customAnimationTime ease-out;
    &:hover {
        color: white;
        background-color: $customBlue;
    }
}

.link-custom-blue {
    color: $customBlue;

    transition: all $customAnimationTime ease-out;
    &:hover {
        color: $customRed;
    }
}

.dashboard-sidebar {
    a {
        color: white !important;
    }
}

.card {
    border: none !important;
}

.btn-outline-primary {
    &:hover {
        a {
            color: white;
            transition: all 0.3s;
        }
    }
}

.btn-primary {
    transition: all 0.3s !important;

    &:hover {
        background-color: $customRed !important;
        border-color: $customRed !important;
        //box-shadow: 0 2px 10px $customRed !important;
    }
}

.btn-primary,
.btn-danger {
    a {
        color: white !important;
        text-decoration: none !important;

        &:hover {
            transition: all 0.3s !important;
        }
    }
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important ;
    font-weight: 300;

    a {
        color: grey;
        text-decoration: none;
    }

    button {
        border: none;
        border-radius: 25px;
        cursor: pointer;
        padding: 9px 25px;
    }

    .menu {
        list-style: none;

        a:hover {
            color: $customBlue;
        }

        li {
            display: inline;
            padding: 0 15px;
        }
    }

    .navbar-img {
        width: 200px;
    }
}

.dashboard-sidebar {
    .active {
        background-color: $customRed !important;
    }
}

.sub-price {
    bottom: -30px;
    right: 0;
    font-size: 65px;
}

.braintree-card {
    background-color: $customBlue;
    color: white;
    .braintree-sheet__text,
    .braintree-form__label,
    .braintree-form__field {
        color: white !important;
    }
}

// #credit-card-number {
//     color: white !important;
// }
// utility
.custom-shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
    transition: all 0.3s linear;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
        transform: scale(1.01);
    }
}
.custom-rounded {
    border-radius: 30px;
}
.custom-select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

.bio-collapse {
    // overflow: hidden;
    // position: relative;
    // padding-bottom:40px;
    // .content-bio{
    //     transition: all .3s;
    //     height: 100%;
    // }
    .hide-content-bio {
        line-height: 1em;
        height: 2em;
        overflow: hidden;
    }
    // .my-btn-show-bio{
    //     position: absolute;
    //     bottom: 0;
    // }
}
.timer{
    font-size: 40px;
}