// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.btn-custom-blue {
    background-color: $customBlue;
    color: white;
    border-radius: 5px;
    transition: all $customAnimationTime ease-out;
    &:hover {
        color: white;
        background-color: $customRed;
    }
}

.btn-custom-red {
    background-color: $customRed;
    color: white;
    border-radius: 5px;
    transition: all $customAnimationTime ease-out;
    &:hover {
        color: white;
        background-color: $customBlue;
    }
}

.link-custom-blue {
    color: $customBlue;

    transition: all $customAnimationTime ease-out;
    &:hover {
        color: $customRed;
    }
}

.dashboard-sidebar {
    a {
        color: white !important;
    }
}

.card {
    border: none !important;
}

.btn-outline-primary {
    &:hover {
        a {
            color: white;
            transition: all .3s;
        }
    }
}

.btn-primary, .btn-danger {
    a {
        color: white !important;
        text-decoration: none !important;

        &:hover {
            transition: all .3s !important;
        }
    }
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-weight: 300;

    a {
        color: grey;
        text-decoration: none;
    }

    button {
        border: none;
        border-radius: 25px;
        cursor: pointer;
        padding: 9px 25px;
    }

    .menu {
        list-style: none;

        a:hover {
            color: $customBlue;
        }

        li {
            display: inline;
            padding: 0 15px;
        }
    }

    .navbar-img {
        width: 200px;
    }
}
